<form [formGroup]="Empregister" (ngSubmit)="HandleSubmit()">
  <h1> Mission Agent Registration Form </h1>
  <mat-stepper [linear]="isLinear" #stepper>

    <mat-step [stepControl]="Basic">
      <div formGroupName="basic" style="margin-left: 100px;">
        <ng-template matStepLabel>Fill Basic Details</ng-template>
        <mat-form-field appearance="fill" class="formstyle">
          <mat-label>Name</mat-label>
          <input matInput placeholder="First name" formControlName="name">
        </mat-form-field>

        <mat-form-field appearance="fill" class="formstyle">
          <mat-label>Gender</mat-label>
          <mat-select formControlName="genre">
            <mat-option value="Male">Male</mat-option>
            <mat-option value="Female">Female</mat-option>
          </mat-select>
        </mat-form-field>
        <mat-form-field class="formstyle">
          <mat-label>Date of birth</mat-label>
          <input matInput [matDatepicker]="picker" formControlName="datebirth">
          <mat-hint>MM/DD/YYYY</mat-hint>
          <mat-datepicker-toggle matSuffix [for]="picker" ></mat-datepicker-toggle>
          <mat-datepicker #picker></mat-datepicker>
          <div *ngIf="Basic.get('datebirth')?.errors?.futureDate && Basic.get('datebirth')?.touched" class="text-danger">
            Please select a date prior to today.
                    </div>
        </mat-form-field>

        <mat-form-field appearance="fill" class="formstyle">
          <mat-label>Military Identification Number</mat-label>
          <input matInput placeholder="Military Identification Number" formControlName="idMilitaire" type="number">
        </mat-form-field>
        <mat-form-field appearance="fill" class="formstyle">
          <mat-label>Personal Address</mat-label>
          <input matInput placeholder="Personal Address" formControlName="adresse">
        </mat-form-field>
        <mat-form-field appearance="fill" class="formstyle">
          <mat-label>Phone Number</mat-label>
          <input matInput placeholder="Phone Number" formControlName="telephone" type="number">
        </mat-form-field>
        <mat-form-field appearance="fill" class="formstyle">
          <mat-label>Civil Status</mat-label>
          <mat-select formControlName="etatCivil">
            <mat-option value="single">Single</mat-option>
            <mat-option value="married">Married</mat-option>
            <mat-option value="divorced">Divorced</mat-option>
            <mat-option value="widowed">Widowed</mat-option>
          </mat-select>
        </mat-form-field>

        <mat-form-field appearance="fill" class="formstyle">
          <mat-label>Email</mat-label>
          <input matInput formControlName="email" placeholder="Email" required>
          <mat-error *ngIf="Empregister.get('basic.email')?.hasError('required')">Please enter an email</mat-error>
        </mat-form-field>

        <mat-form-field appearance="fill" class="formstyle">
          <mat-label>Password</mat-label>
          <input matInput placeholder="Password" formControlName="password" type="password">
        </mat-form-field>

        <mat-form-field appearance="fill" class="formstyle">
          <mat-label>Role</mat-label>
          <mat-select formControlName="role">
            <mat-option value="Supervisor">Superviseur</mat-option>
            <mat-option value="Controller">Controleur</mat-option>
          </mat-select>
        </mat-form-field>
          

      <!-- Pour l'image -->
      <!-- Pour l'image -->
      <br>
<label for="image" class="custom-file-upload">
  Select an image
</label> &nbsp;&nbsp;
<input type="file" id="image" formControlName="image" (change)="onFileSelected($event)" accept="image/*" style="display: none;" />
<img [src]="selectedImageURL" alt="Selected Image" *ngIf="selectedImageURL" class="selected-image">

<br> <br>
<!-- Pour le CV -->
<label for="cv" class="custom-file-upload">
  Select a CV
</label> &nbsp;&nbsp;
<input type="file" id="cv" formControlName="cv" (change)="onFileSelected2($event)" style="display: none;" />
<img [src]="selectedCVURL" alt="Selected CV" *ngIf="selectedCVURL" class="selected-cv">



        <div>
          <br>
          <button mat-raised-button color="primary" matStepperNext>Next</button>
        </div>
      </div>
    </mat-step>


      <mat-step [stepControl]="Formation" >
        <div formGroupName="formation">
          <ng-template matStepLabel>Fill out Military Formation</ng-template>

          <mat-form-field class="formstyle">
            <input matInput [matDatepicker]="picker1" placeholder="Choose a Engagement date" formControlName="dateEngagement">
            <mat-datepicker-toggle matSuffix [for]="picker1" ></mat-datepicker-toggle>
            <mat-datepicker #picker1 ></mat-datepicker>
            <div *ngIf="Formation.get('date')?.errors?.futureDate && Formation.get('dateEngagement')?.touched" class="text-danger">
              Please select a date prior to today.
                      </div>
          </mat-form-field>

          <mat-form-field appearance="fill" class="formstyle">
            <mat-label>Assignment Unit</mat-label>
            <input matInput formControlName="unitAffectation" placeholder="Assignment Unit" required>
          </mat-form-field>
          <br>
<label>Experiences</label>
          <div id="table-container">
            <table class="table table-bordered">
              <thead>
                <tr>
                  <th>Type</th>
                  <th>Year</th>
                  <th>Actions</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let experience of experiencesArray.controls; let i = index" [formGroup]="experience">
                  <td><input type="text" class="form-control" formControlName="type"></td>
                  <td>
                    <input type="date" class="form-control" formControlName="annee">
                    <div *ngIf="experience.get('annee')?.errors?.futureDate && experience.get('annee')?.touched" class="text-danger">
                      Please select a date prior to today.
                    </div>
                  </td>
                  <td>
                    <button class="btn btn-sm btn-danger" (click)="removeExperienceRow(i)">
                      <i class="fa fa-trash fa-sm"></i> Delete
                    </button>
                  </td>
                </tr>

              </tbody>
              <tfoot>
                <tr>
                  <td colspan="6">
                    <button class="btn btn-sm btn-info" (click)="addExperienceRow()">Add</button>
                  </td>
                </tr>
              </tfoot>
            </table>
          </div>
          <br>
          <label>Specializations</label>
          <div id="table-container-specializations">
            <table class="table table-bordered">
              <thead>
                <tr>
                  <th>Specialization</th>
                  <th>Level</th>
                  <th>Actions</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let specialization of specializationsArray.controls; let i = index" [formGroup]="specialization">
                  <td><input type="text" class="form-control" formControlName="name"></td>
                  <td>
                    <mat-form-field appearance="fill">
                      <mat-label>Level</mat-label>
                      <select matNativeControl formControlName="level">
                        <option value="excellent">Excellent</option>
                        <option value="moyen">Average</option>
                        <option value="novice">Novice</option>
                      </select>
                    </mat-form-field>
                  </td>
                  <td>
                    <button class="btn btn-sm btn-danger" (click)="removeSpecializationRow(i)">
                      <i class="fa fa-trash fa-sm"></i> Delete
                    </button>
                  </td>
                </tr>
              </tbody>
              <tfoot>
                <tr>
                  <td colspan="3">
                    <button class="btn btn-sm btn-info" (click)="addSpecializationRow()">Add</button>
                  </td>
                </tr>
              </tfoot>
            </table>
          </div>

          <div>
            <button mat-raised-button color="primary" matStepperPrevious>Back</button> |
            <button mat-raised-button color="primary" matStepperNext>Next</button>
          </div>
        </div>
      </mat-step>

      <mat-step [stepControl]="Competence">
        <div formGroupName="competence">
          <ng-template matStepLabel>Fill out Competence and Qualification</ng-template>

          <label>Certifications</label>
          <div id="table-container-certifications">
            <table class="table table-bordered">
              <thead>
                <tr>
                  <th>Certification Name</th>
                  <th>Date of Attainment</th>
                  <th>Actions</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let certification of certificationsArray.controls; let i = index" [formGroup]="certification">
                  <td><input type="text" class="form-control" formControlName="nom"></td>
                  <td><input type="date" class="form-control" formControlName="dateObtention" [minDate]="minDate">
                    <div *ngIf="certification.get('dateObtention')?.errors?.futureDate && certification.get('dateObtention')?.touched" class="text-danger">
                      Please select a date prior to today.
                    </div></td>
                  <td>
                    <button class="btn btn-sm btn-danger" (click)="removeCertificationRow(i)">
                      <i class="fa fa-trash fa-sm"></i> Delete
                    </button>
                  </td>
                </tr>
              </tbody>
              <tfoot>
                <tr>
                  <td colspan="3">
                    <button class="btn btn-sm btn-info" (click)="addCertificationRow()">Add</button>
                  </td>
                </tr>
              </tfoot>
            </table>
          </div>

          <br>

          <label>Specific Competences</label>
          <div id="table-container-competences">
            <table class="table table-bordered">
              <thead>
                <tr>
                  <th>Competence Name</th>
                  <th>Level</th>
                  <th>Actions</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let competence of competencesArray.controls; let i = index" [formGroup]="competence">
                  <td><input type="text" class="form-control" formControlName="nom"></td>
                  <td>
                    <mat-form-field appearance="fill">
                      <mat-label>Level</mat-label>
                      <select matNativeControl formControlName="niveau">
                        <option value="excellent">Excellent</option>
                        <option value="moyen">Average</option>
                        <option value="novice">Novice</option>
                      </select>
                    </mat-form-field>
                  </td>
                  <td>
                    <button class="btn btn-sm btn-danger" (click)="removeCompetenceRow(i)">
                      <i class="fa fa-trash fa-sm"></i> Delete
                    </button>
                  </td>
                </tr>
              </tbody>
              <tfoot>
                <tr>
                  <td colspan="3">
                    <button class="btn btn-sm btn-info" (click)="addCompetenceRow()">Add</button>
                  </td>
                </tr>
              </tfoot>
            </table>
          </div>

          <div>
            <button mat-raised-button color="primary" matStepperPrevious>Back</button> |
            <button mat-raised-button color="accent" type="submit" (click)="submit()">Submit</button>
          </div>
        </div>
      </mat-step>
      </mat-stepper>
  </form>
