/*  
  Table Responsive
  ===================
  Author: https://github.com/pablorgarcia
 */

 @charset "UTF-8";
 @import url(https://fonts.googleapis.com/css?family=Open+Sans:300,400,700);
 

 
 h1 {
   font-size:3em; 
   font-weight: 300;
   line-height:1em;
   text-align: center;
   color: #013B63;
 }
 
 
 .container th h1 {
     font-weight: bold;
     font-size: 1em;
   text-align: left;
   color: rgba(255, 255, 255, 0.863);
 }
 
 .container td {
     font-weight: normal;
     font-size: 1em;
   -webkit-box-shadow: 0 2px 2px -2px #0E1119;
      -moz-box-shadow: 0 2px 2px -2px #0E1119;
           box-shadow: 0 2px 2px -2px #0E1119;
 }
 
 .container {
     text-align: left;
     overflow: hidden;
     width: 80%;
     margin: 0 auto;
   display: table;
   padding: 0 0 8em 0;
 }
 
 .container td, .container th {
     padding-bottom: 2%;
     padding-top: 2%;
   padding-left:2%;  
 }
 
 /* Background-color of the odd rows */
 .container tr:nth-child(odd) {
     background-color: white;
 }
 
 /* Background-color of the even rows */
 .container tr:nth-child(even) {
     background-color: white;
 }
 
 .container th {
     background-color: #013B63;
 }
 

 
 .container tr:hover {
    background-color: white;
 -webkit-box-shadow: 0 6px 6px -6px #0E1119;
      -moz-box-shadow: 0 6px 6px -6px #0E1119;
           box-shadow: 0 6px 6px -6px #0E1119;
 }
 .icon-container {
    margin-right: 10px; /* Espace entre les icônes */
}

 .container td:hover {
   background-color: #FFF842;
   color: #403E10;
   font-weight: bold;
   
   box-shadow: #7F7C21 -1px 1px, #7F7C21 -2px 2px, #7F7C21 -3px 3px, #7F7C21 -4px 4px, #7F7C21 -5px 5px, #7F7C21 -6px 6px;
   transform: translate3d(6px, -6px, 0);
   
   transition-delay: 0s;
     transition-duration: 0.4s;
     transition-property: all;
   transition-timing-function: line;
 }
 
 @media (max-width: 800px) {
 .container td:nth-child(4),
 .container th:nth-child(4) { display: none; }
 }




.pagination li:hover{
    cursor: pointer;
}
		


button {
  border: 2px solid #24b4fb;
  background-color: #24b4fb;
  border-radius: 0.9em;
  padding: 0.8em 1.2em 0.8em 1em;
  transition: all ease-in-out 0.2s;
  font-size: 16px;
 }
 
 button span {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  font-weight: 600;
 }
 
 button:hover {
  background-color: #0071e2;
 }

 .custom-modal {
  /* Ajoutez vos styles personnalisés ici */
  background-color: #4491df;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  max-width: 1200px; /* Exemple de style personnalisé */
}




select {
  
  appearance: none;
  outline: 10px red;
  border: 0;
  box-shadow: none;
  flex: 1;
  padding: 0 1em;
  color: black;
  background-color: var(--darkgray);
  background-image: none;
  cursor: pointer;

}

select::-ms-expand {
  display: none;
}

.select {
  position: relative;
  display: flex;
  width: 20em;
  height: 3em;
  border-radius: .25em;
 

  overflow: hidden;
}

.select::after {
  content: '\25BC';
  position: absolute;
  top: 0;
  right: 0;
  padding: 1em;
  background-color: #013B63;
  transition: .25s all ease;
  pointer-events: none;
}

.select:hover::after {
  color: #f39c12;
}




.tout{
  position : absolute;
  background-color: rgb(152, 160, 168);
  left : 50%;
  transform :
  translate(-50%,-50%); 
}

.down_note {
    display: flex;
    justify-content: center;

}