



    <h1>List of approved mission agents</h1>
    <br>
<div class="form-group">
  <h6 for="roleFilter" style="margin-left:38% ;">Filter by Role :</h6> <br>
 
<div class= "tout">
  <div class="select">
<select class="form-control" id="roleFilter" [(ngModel)]="selectedRole" (change)="filterUsersByRole()">
  <option value="">All Roles</option>
  <option value="Supervisor">Supervisor</option>
  <option value="Controller">Controller</option>
</select>
</div>
</div>

</div>


<br><br><br>
    <div class="d-flex justify-content-end">
      <!-- Bouton pour ouvrir le modal d'ajout de nouvelle smartwatch -->
      <button
        
      routerLink="/adduser"
      >
      <span>
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="24" height="24"><path fill="none" d="M0 0h24v24H0z"></path><path fill="currentColor" d="M11 11V5h2v6h6v2h-6v6h-2v-6H5v-2z"></path></svg>   Add New Mission Agent
      </span>
      
    </button>
    </div>
    <br><br>

    <table class="container">
        <thead>
          <tr>
            <th><h1>Name</h1></th>
            
            <th><h1>Email</h1></th>
            <th><h1>Role</h1></th>
            <th><h1>Actions</h1></th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let user of filteredUsers">
            <td>{{ user.name }}</td>
           
            <td>{{ user.email }}</td>
            <td><span class="badge bg-success">{{ user.role }}</span></td>
            <td>
              <span class="icon-container" (click)="onClickTrashIcon(user._id)">
                <i class="fas fa-trash" style="color: rgb(184, 21, 21)"></i>
              </span>
              <span class="icon-container">
                <i class="fa-solid fa-pen-to-square" (click)="modifier(user._id, user)" style="color: #f39c12;"></i>
              </span>
              <span class="icon-container" (click)="openDetailUser(user._id)">
                <i class="fas fa-circle-info" style="color: #013B63;" ></i>
              </span>
            </td>
          </tr>
        </tbody>
      </table>
      
      <br><br>

      
          <br>
      
    
          

