/* Styles for AddCameraComponent */

/* Style for the container */
.container {
    width: 1000px; /* Largeur maximale du container */
    margin: 0 auto; /* Centrage horizontal */
    padding: 10px; /* Espacement intérieur du container */
    background-color: #ffffff; /* Couleur de fond du container */
    border-radius: 10px; /* Coins arrondis du container */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Ombre légère pour le container */
  }
  
  /* Style for the modal header */
  .modal-header {
    background-color: #3485d6; /* Couleur de fond de l'en-tête */
    border-bottom: 1px solid #dee2e6; /* Bordure inférieure */
  }
  
  /* Style for the modal title */
  .modal-title {
    color: #333333; /* Couleur du texte */
    font-size: 1.5rem; /* Taille de police */
    font-weight: bold; /* Poids de la police */
  }
  
  /* Style for the form labels */
  .form-label {
    font-weight: bold; /* Police en gras pour les étiquettes */
  }
  
  /* Style for the form inputs */
  .form-control {
    border-radius: 5px; /* Coins arrondis pour les entrées */
  }
  
  /* Style for the modal body */
  .modal-body {
    padding: 30px; /* Espacement à l'intérieur du corps du modal */
  }
  
  /* Style for the modal footer */
  .modal-footer {
    background-color: #f8f9fa; /* Couleur de fond du footer */
    border-top: 1px solid #dee2e6; /* Bordure supérieure */
  }
  
  /* Style for the buttons in the modal footer */
  .btn-secondary {
    background-color: #6c757d; /* Couleur de fond du bouton secondaire */
    color: #ffffff; /* Couleur du texte du bouton secondaire */
  }
  
  .btn-primary {
    background-color: #007bff; /* Couleur de fond du bouton primaire */
    color: #ffffff; /* Couleur du texte du bouton primaire */
  }
  
  /* Style pour diviser le formulaire en deux colonnes */
  .row {
    display: flex;
    /* Espace vertical entre les parties */

  }
  
  .col-md-4 {
    width: 30%; /* Largeur de chaque partie */
    padding: 0 10px; 
    margin-bottom: 20px; 
    margin-right: 30px;/* Espace vertical entre les champs des parties gauche et droite */
/* Espacement intérieur des colonnes */
  }
  
  /* Ajoutez des styles supplémentaires selon vos besoins */
  .custum-file-upload {
    height: 200px;
    width: 300px;
    display: flex;
    flex-direction: column;
    align-items: space-between;
    gap: 20px;
    cursor: pointer;
    align-items: center;
    justify-content: center;
    border: 2px dashed #e8e8e8;
    background-color: #212121;
    padding: 1.5rem;
    border-radius: 10px;
    box-shadow: 0px 48px 35px -48px #e8e8e8;
  }
  
  .custum-file-upload .icon {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .custum-file-upload .icon svg {
    height: 80px;
    fill: #e8e8e8;
  }
  
  .custum-file-upload .text {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .custum-file-upload .text span {
    font-weight: 400;
    color: #e8e8e8;
  }
  
  .custum-file-upload input {
    display: none;
  }
  .img-preview {
    width: 200px; /* Définissez la largeur souhaitée */
    height: auto; /* Laissez la hauteur ajustable en fonction de la largeur */
  }
  

  .button {
    --main-focus: #2d8cf0;
    --font-color: #323232;
    --bg-color-sub: #2d8cf0;
    --bg-color: #2d8cf0;
    --main-color: #323232;
    position: relative;
    width: 150px;
    height: 40px;
    cursor: pointer;
    display: flex;
    align-items: center;
    border: 2px solid var(--main-color);
    box-shadow: 4px 4px var(--main-color);
    background-color: var(--bg-color);
    border-radius: 10px;
    overflow: hidden;
  }
  
  .button, .button__icon, .button__text {
    transition: all 0.3s;
  }
  
  .button .button__text {
    transform: translateX(33px);
    color: var(--font-color);
    font-weight: 600;
  }
  
  .button .button__icon {
    position: absolute;
    transform: translateX(109px);
    height: 100%;
    width: 39px;
    background-color: var(--bg-color-sub);
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .button .svg {
    width: 20px;
    fill: var(--main-color);
  }
  
  .button:hover {
    background: var(--bg-color);
  }
  
  .button:hover .button__text {
    color: transparent;
  }
  
  .button:hover .button__icon {
    width: 148px;
    transform: translateX(0);
  }
  
  .button:active {
    transform: translate(3px, 3px);
    box-shadow: 0px 0px var(--main-color);
  }

  

  


/*

i {
	position: relative;
	display: block;
	width: 500px;
	height: 300px;
	overflow: hidden;
	border-radius: 5px;
}

i:before, i:after {
	content: '⥪';
	position: absolute;
	top: 50%;
	left: 1rem;
	z-index: 2;
	width: 2rem;
	height: 2rem;
	background: dodgerblue;
	color: white;
	border-radius: 50%;
	display: flex;
	justify-content: center;
	align-items: center;
	pointer-events: none;
}

i:after {
	content: '⥭';
	left: auto;
	right: 1rem;
}


input {
	appearance: none;
	-ms-appearance: none;
	-webkit-appearance: none;
	display: block;
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	border-radius: 5px;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	transform: translateX(100%);
	transition: transform ease-in-out 400ms;
	z-index: 1;
}

input:focus {
	outline: none;
}

input:after {
	content: attr(title);
	position: absolute;
	top: 1rem;
	left: 1rem;
	background-color: rgba(0,0,0,0.4);
	color: white;
	padding: .5rem;
	font-size: 1rem;
	border-radius: 5px;
}

input:not(checked):before {
	content: '';
	position: absolute;
	width: 2rem;
	height: 2rem;
	border-radius: 50%;
	top: 50%;
	left: calc(-100% + 1rem);
}

input:checked:before {
	display: none;
	left: 1rem;
}

input:checked {
	transform: translateX(0);
	pointer-event: none;
	z-index: 0;
	box-shadow: -5px 10px 20px -15px rgba(0,0,0,1);
}

input:checked + input:before {
	left: -3rem;
}

input:checked + input ~ input:before {
	display: none;
}
*/

/*
.slider-container {
    position: relative;
    overflow: hidden;
  }
  
  .slider {
    display: flex;
    transition: transform 0.5s ease-in-out;
  }
  
  .slider > div {
    flex: 0 0 100%;
  }
  
  .navigation {
    position: absolute;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
  }
  
  .navigation button {
    width: 12px;
    height: 12px;
    border-radius: 50%;
    border: none;
    background-color: #ccc;
    margin: 0 5px;
    cursor: pointer;
  }
  
  .navigation button.active {
    background-color: #333;
  }
  */