<div class="tout">
<div class="modal-header" style="background-color:#013B63 ;color: antiquewhite;">
  <h5 class="modal-title">Mission Agent Details</h5>
  <button type="button" class="btn-close" aria-label="Close" (click)="closeModal()" style="background-color: aliceblue;"></button>
</div>
<div class="modal-body">
  <div class="card">
    <div class="card-body d-flex">
      <div class="mission-info">
        <h1 class="card-title">{{ intervenants.name }}</h1>
        <p><strong>{{ intervenants.role }}</strong></p>
        <img src="{{ intervenants.image }}" style="height: 150px; width: 150px; margin-right: 100px;" />
      </div>
      <div class="mission-table" style="padding-left: 50px; margin-top: 50px;">
        <p><strong>Date of birth :</strong> {{ intervenants.datebirth | date: 'dd/MM/yyyy' }}</p>
        <p><strong>Military identification number :</strong> {{ intervenants.idMilitaire }}</p>
        <p><strong>Home address :</strong> {{ intervenants.adresse }}</p>
        <p><strong>Phone number :</strong> {{ intervenants.telephone }}</p>
        <p><strong>Marital status :</strong> {{ intervenants.etatCivil }}</p>
        <p><strong>Gender :</strong> {{ intervenants.genre }}</p>
        <p><strong>Email :</strong> {{ intervenants.email }}</p>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col" style="padding-left: 50px;">
      <h2 style="color: #013B63;">Military training</h2>
      <p><strong>Date of enlistment :</strong> {{ intervenants.dateEngagement | date: 'dd/MM/yyyy' }}</p>
      <p><strong>Assignment unit :</strong> {{ intervenants.unitAffectation }}</p>
      <p><strong>Experiences :</strong></p>
      <ul>
        <li *ngFor="let grade of intervenants.experiences">
          Year : {{ grade.annee | date: 'dd/MM/yyyy' }} <br> Type : {{ grade.type }}
        </li>
      </ul>
      <p><strong>Specializations :</strong></p>
      <ul>
        <li *ngFor="let spec of intervenants.specializations">
          Name : {{ spec.name }}  <br> Level : {{ spec.niveau }} 
        </li>
      </ul>
    </div>
    <div class="col">
      <h2 style="color: #013B63;">Skills and qualifications</h2>
      <p><strong>Competencies :</strong></p>
      <ul>
        <li *ngFor="let com of intervenants.competences">
          Name : {{ com.nom }} <br> Level : {{ com.niveau }}
        </li>
      </ul>
      <p><strong>Certifications :</strong></p>
      <ul>
        <li *ngFor="let cert of intervenants.certifications">
          Name : {{ cert.nom }} <br> Year : {{ cert.dateObtention | date: 'dd/MM/yyyy' }}
        </li>
      </ul>
    </div>
  </div>
  <button mat-button (click)="toggleCVVisibility()">Show CV</button>

  <div *ngIf="cvVisible">
    <pdf-viewer [src]="pdfSrc" [render-text]="true" [original-size]="false"
      style="width: 500px; height: 500px; margin-left: 200px;"></pdf-viewer>
  </div>
</div>
<div class="modal-footer">
  <button type="button" class="btn btn-secondary waves-effect" (click)="closeModal()">Cancel</button>
</div>
</div>